<table>
    <tr>
        <td>
            <p>Elizabeth Galindo Pedraza</p>
            <p> Ser SNI 3, y tener cuadritos </p>

        </td>
        <td>
            <img src="../assets/images1/aboutme.jpg" width="110" height="180">
        </td>
         
          <td>
            <ul>
                <li>eli456pg@gmail.com</li>
                <li>2731350383</li>
                <li> Orizaba, Veracruz</li>
                <li> @eli456pg</li>
            </ul>
         </td>
    </tr>
</table>




